# Note: `clm` does not use any dependency from any conda channel at all.
# This file is provided as a convenience for users and CI workflows
# used to working with conda environments.

name: 'clm'

channels:
  - conda-forge
  - nodefaults

dependencies:
  - python=3.10
  - pip
  - pip:
    - -r requirements.txt
    - s4dd @ git+https://github.com/GuptaVishu2002/s4-for-de-novo-drug-design.git@fix-module-library-packaging
